@import './utils/variables';
@import './utils/mixins';
@import './partials/board';
@import './partials/status';

body {
  color: $content_color;
  font-family: $font;
  margin: 0;
  text-align: center;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
