# Dependencies
node_modules

# Ignore files
.*ignore

# License
LICENSE

# MacOS
.DS_Store

# Package files
yarn.lock

# Run Command files
.*rc

# Files within hidden folders
.*/**

# Public folder
public

# Build folder
build