// TYPOGRAPHY
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

$font: 'Arial', sans-serif;
$icon_font: 'FontAwesome';

// GENERAL
$content_color: #333;
$black: #000;
$white: #fff;

// BOARD
$square_bg_color: #d1ccc0;
$square_color: $white;
$square_text_shadow: 2px 2px 4px rgba($black, 0.2);

$player1_color_normal: #474787;
$player1_color_active: #706fd3;
$player1_icon: '\f00d';

$player2_color_normal: #cc8e35;
$player2_color_active: #ffb142;
$player2_icon: '\f10c';

// STATUS
$status_bg_color: rgba($white, 0.8);

// MEDIA QUERY
$media_query: 'min-width: 450px';
