#status {
  background: $status_bg_color;
  bottom: 5px;
  color: $content_color;
  display: none;
  left: 5px;
  padding-top: 55px;
  position: absolute;
  right: 5px;
  top: 5px;
  text-align: center;
  z-index: 11;

  @media ($media_query) {
    padding-top: 110px;
  }

  &.visible {
    display: block;
  }

  h3 {
    font-size: 30px;
    font-weight: 300;

    @media ($media_query) {
      font-size: 40px;
    }
  }

  a {
    background-color: $content_color;
    border-radius: 4px;
    color: $white;
    padding: 14px 45px;
    text-decoration: none;
    @include transition(background-color, 0.2s);

    &:hover {
      background-color: $content_color;
      cursor: pointer;
    }
  }
}
